includes:
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app/
        - tests/
        - routes/

    # Level 9 is the highest level
    level: 8

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
